<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; font-family: 'Inter', sans-serif;">
    <p style="margin-bottom: 15px; font-size: 3.5vw;">Welcome! Let's sign in first 🦉</p>
    <div style="width: 15vw; margin: 0;">
        <form method="POST" action="/login">
            {% csrf_token %}
            <input name="username" placeholder="username" style="padding: 10px; font-size: 1.1vw; margin: 5px 0px; border-radius: 30px;"/>
            <input name="password" placeholder="password" style="padding: 10px; font-size: 1.1vw; margin: 5px 0px; border-radius: 30px;" type="password" />
            <input type="submit" style="padding: 3px; font-size: 1vw; margin-top: 10px; margin-left: 6px; display: inline-block;" />
        </form>
        <form action="/signup">
            <p style="font-size: 1.1vw; margin: 0px; margin-left: 7px;">Don't have an account?</p>
            <input class="btn btn-link" type="submit" value="Sign up!" style="margin-left: 7px; padding: 0 !important;font-size: 1.1vw; display: inline-block;"/>
        </form>
    </div>
    
</div>

